body {
    padding: 0px;
    margin: 0px;
}

a {
    color: #00B7FF;
}

label.login-page {
    display: block;
}
input.login-page {
    margin-left: 10px;
}

.page-container {
    max-width: 600px;
    margin-top: 30px
}

.page-container img {
    width: 100%;
}

iframe.con-container {
    width: 100%;
    height: calc(100vh - 44px);
    border: none;
    margin: none;
    padding: none;
}