body {
    /* background: #222; */
}
.list-group-module {
    overflow: hidden;
}
.list-unstyled {
    padding-left: 10px;
    overflow: scroll;
    height: 100%;
}
.list-unstyled li .number {
    color: #555;
    font-size: 0.8em;
}

.list {
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.list > li {
    width: 30%;
    padding: 5px;
    cursor: pointer;
    transition: all 0.3s;
}
.list > li:hover {
    background: #888;
}

.explorer {
    display: flex;
    align-content: flex-start;
    flex-flow: column wrap;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    overflow: scroll;
}
.explorer-image {
    width: 300px;
    height: auto;
    vertical-align: top;
    padding: 10px;
}

#filter-list {
    position: absolute;
}

#explorer {
    background: #222;
    height: calc(100% - 112px);
}