$background-color: #f8f9fa;
$concern-color-light: #f99e7c;
$concern-color: #FF7F50;
$concern-color-dark: #d16740;

$strategy-color-light: #23d1c7;
$strategy-color: #20B2AA;
$strategy-color-dark: #16827c;

$contain-color-light: #a55015;
$contain-color: #8B4513;
$contain-color-dark: #6b340d;

body {
    background: $background-color!important;
    padding: 0px;
    margin: 0px;
}
.list-group-module {
    overflow: hidden;
}
.list-unstyled {
    padding-left: 10px;
    overflow: scroll;
    height: 100%;
}
.list-unstyled li .number {
    color: #555;
    font-size: 0.8em;
}

.list {
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.list > li {
    width: 30%;
    padding: 5px;
    cursor: pointer;
    transition: all 0.3s;
}
.list > li:hover {
    background: #888;
}

.selected-filter-value > span.filter-value {
    text-decoration: underline;
}

.explorer {
    display: flex;
    align-content: flex-start;
    flex-flow: column wrap;
    justify-content: flex-start;
    height: calc(100% - 56px - 103px);
    width: 100%;
    overflow: scroll;
    background: #f8f9fa!important;
    position: relative;
}
.explorer-image {
    width: 300px;
    height: auto;
    vertical-align: top;
    padding: 10px;
}

#filter-list {
    position: absolute;
}

.filter-button {
    width: 150px;
    background: none;
    border: none;
    text-align: left;
    border-bottom: black solid 2px;
    margin: 8px;
    margin-bottom: 0px;
    &.concern {
      border-bottom-color: $concern-color;
    }
    &.strategy {
        border-bottom-color: $strategy-color;
    }
    &.contains {
        border-bottom-color: $contain-color;
    }
}
.filter-button:focus {
    outline: none;
}
.filter-button-li {
    background: $background-color;
    list-style: none;
    margin: 0;
    padding: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    transition: background 0.2s;
    display: flex;
    justify-content: space-between;
    width: 150px;
    cursor: pointer;
    // margin-left: 8px;
    transition: all 0.5s;
}
.filter-button-li:hover {
    background: #888;
}
.filter-button-li > * {
    max-width: 100px;
    overflow-x: auto;
    word-wrap: break-word;
    font-size: 0.9em;
}
.filter-button-li.active {
    background: #888;
}
.filter-button-expand {
    float: right;
    line-height: 1em;
    font-size: 1.3em;
}
.filter-count {
    font-size: 0.8em;
    color: #888;
}

.btn-concern {
    color: white;
    background-color: $concern-color;
    border-color: $concern-color-dark;
    &:hover {
        background-color: $concern-color-dark;
        border-color: $concern-color;
    }
}
.btn-strategy {
    color: white;
    background-color: $strategy-color;
    border-color: $strategy-color-dark;
    &:hover {
        background-color: $strategy-color-dark;
        border-color: $strategy-color;
    }
}
.btn-contains {
    color: white;
    background-color: $contain-color;
    border-color: $contain-color-dark;
    &:hover {
        background-color: $contain-color-dark;
        border-color: $contain-color;
    }
}

.image-detail-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 1;
}
#image-detail {
    position: absolute;
    display: flex;
    width: 80%;
    height: 80%;
    background: rgba(255, 255, 255, 1);
    z-index: 1;
    margin: auto;
    border-radius: 15px;
    box-shadow: 2px 2px 15px 0px black;
    & > * {
        width: 50%;
        padding: 2%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img {
            object-fit: contain;
            max-height: 100%;
            max-width: 100%;
        }
        div {
            width: 100%;
            .head {
                font-weight: bold;
            }
            .tab {
                padding-right: 8px;
            }
        }
    }
    table {
        tr {
            td {
                padding: 8px;
            }
            td:first-child {
                text-align: right;
            }
        }
    }
    .close-btn {
        position: absolute;
        right: 16px;
        padding: 5px;
        width: auto;
    }
}

/* UTILITIES */
.clickable {
    cursor: pointer;
}

.margin-left-sm {
    margin-left: 8px;
}
.margin-right-sm {
    margin-left: 8px;
}
.margin-right-md {
    margin-left: 16px;
}

.hover-glow-light:hover {
    text-shadow: 0 0 3px #fff;
}
.close-icon {
	border:1px solid transparent;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
    outline: 0;
    cursor: pointer;
    font-family: Helvetica,Arial,Verdana;
    width: 0px;
}
.close-icon::after {
	content: "X";
	display: block;
	width: 15px;
	height: 15px;
	position: relative;
	background-color: grey;
    z-index:1;
    left: -38px;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	padding: 2px;
	border-radius: 50%;
	text-align: center;
	color: white;
	font-weight: normal;
	font-size: 12px;
	box-shadow: 0 0 2px darkgrey;
    cursor: pointer;
    line-height: 1em;
}
.close-icon:focus {
    outline: none;
}